@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #fa4a6f;
    --secondary: #232635;
    --tertiary: #0eb7be;
    --quaternary: #ec3899;
    --quinary: #36394b;
    --foreground-rgb: #fff;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}